body{
    background:#eaf1ff;
    font-family:Arial;
}

.main-box{
    width:60%;
    margin:auto;
    margin-top:40px;
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 20px #ccc;
}

input, textarea{
    width:100%;
    padding:14px;
    margin-bottom:15px;
    border-radius:10px;
    border:1px solid #bbb;
    font-size:16px;
}

textarea{
    height:140px;
}

button{
    width:100%;
    padding:14px;
    background:#2f80ff;
    color:white;
    font-size:18px;
    border:none;
    border-radius:10px;
}

button:disabled{
    background:#9bbdff;
}

#popup{
    position:fixed;
    top:-80px;
    left:50%;
    transform:translateX(-50%);
    background:#27c746;
    color:white;
    padding:12px 20px;
    border-radius:8px;
    transition:.3s;
}

.sent-box{
    margin-top:20px;
    padding:15px;
    background:#f3f7ff;
    border-left:5px solid #2f80ff;
    border-radius:10px;
    font-size:20px;
}
