body{
    background:#e8efff;
    font-family:Arial;
    margin:0;
}

.login-box{
    width:400px;
    margin:100px auto;
    background:white;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 0 40px #d0d0d0;
}

.login-icon{
    width:70px;
}

.login-box input{
    width:100%;
    padding:15px;
    margin-top:15px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:18px;
}

.login-box button{
    width:100%;
    padding:15px;
    margin-top:20px;
    font-size:18px;
    background:#2f7dff;
    border:none;
    border-radius:10px;
    color:white;
}

.main-box{
    width:75%;
    max-width:1250px;
    margin:40px auto;
    padding:40px;
    border-radius:25px;
    background:white;
    box-shadow:0 0 40px #d0d0d0;
}

.title{
    text-align:center;
    font-size:38px;
}

.mail-icon{
    width:50px;
    margin-right:10px;
    vertical-align:middle;
}

.row, .row-large{
    display:flex;
    gap:25px;
    margin-bottom:25px;
}

.row input,
.row-large textarea{
    flex:1;
    padding:18px;
    border-radius:12px;
    border:1px solid #ccc;
    font-size:18px;
}

.row-large textarea{
    height:230px;
}

button{
    flex:1;
    padding:18px;
    border-radius:12px;
    border:none;
    font-size:22px;
    cursor:pointer;
    color:white;
    background:#2f7dff;
}

#logoutBtn{
    background:#ff3d3d;
}

#popup{
    position:fixed;
    top:-80px;
    left:50%;
    transform:translateX(-50%);
    padding:12px 25px;
    color:white;
    background:#28c746;
    border-radius:10px;
    font-size:18px;
    transition:.3s;
}
