body{
    background:#eef3ff;
    font-family:Arial;
    margin:0;
}

.login-box{
    width:350px;
    margin:100px auto;
    padding:25px;
    background:white;
    border-radius:15px;
    text-align:center;
    box-shadow:0 0 25px #cfcfcf;
}

.login-box input{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:1px solid #ccc;
    border-radius:10px;
    font-size:17px;
}

.login-box button{
    width:100%;
    padding:12px;
    margin-top:20px;
    background:#2f7dff;
    border:none;
    color:white;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

.main-box{
    width:75%;
    max-width:1200px;
    margin:40px auto;
    padding:40px;
    background:white;
    border-radius:20px;
    box-shadow:0 0 30px #d2d2d2;
}

.title{
    text-align:center;
    font-size:34px;
    margin-bottom:28px;
}

.row, .row-large{
    display:flex;
    gap:20px;
    margin-bottom:20px;
}

.row input, .row-large textarea{
    flex:1;
    padding:15px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:18px;
}

.row-large textarea{
    height:220px;
}

#sendBtn{
    background:#2f7dff;
}

.blue-btn{
    background:#2f7dff !important;
}

#popup{
    position:fixed;
    top:-70px;
    left:50%;
    transform:translateX(-50%);
    padding:10px 20px;
    background:#28c746;
    color:white;
    border-radius:10px;
    font-size:18px;
    transition:.3s;
}
