body{
    background:#eaf1ff;
    font-family:Arial;
}

.main-box{
    width:80%;
    margin:auto;
    margin-top:40px;
    background:white;
    padding:35px;
    border-radius:20px;
    box-shadow:0 0 25px #d8d8d8;
}

.row{
    display:flex;
    gap:20px;
    margin-bottom:25px;
}

.row-large{
    display:flex;
    gap:20px;
    margin-bottom:25px;
}

input,textarea{
    width:100%;
    padding:15px;
    font-size:18px;
    border-radius:10px;
    border:1px solid #ccc;
}

textarea{
    height:220px;
}

button{
    width:100%;
    padding:15px;
    background:#2f80ff;
    color:white;
    font-size:20px;
    border:none;
    border-radius:10px;
}

button:disabled{
    background:#9cbcfc;
}

#popup{
    position:fixed;
    top:-80px;
    left:50%;
    transform:translateX(-50%);
    padding:12px 20px;
    color:white;
    border-radius:10px;
    transition:.4s;
}

.sent-box{
    margin-top:20px;
    background:#f4f7ff;
    padding:15px;
    border-radius:10px;
    border-left:5px solid #2f80ff;
    font-size:20px;
}
