body{
    background:#e8efff;
    font-family:Arial;
    margin:0;
}

/* MAIN BOX EXACT SIZE */
.main-box{
    width:75%;
    max-width:1250px;
    margin:40px auto;
    padding:40px;
    background:white;
    border-radius:25px;
    box-shadow:0px 0px 40px #d5d5d5;
}

.title{
    text-align:center;
    font-size:38px;
    margin-bottom:40px;
}

.mail-icon{
    width:48px;
    vertical-align:middle;
    margin-right:10px;
}

.row, .row-large{
    display:flex;
    gap:25px;
    margin-bottom:25px;
}

.row input{
    flex:1;
    padding:18px;
    border-radius:12px;
    border:1px solid #ccc;
    font-size:18px;
}

.row-large textarea{
    flex:1;
    padding:18px;
    border-radius:12px;
    border:1px solid #ccc;
    font-size:18px;
    height:230px;
}

/* Buttons */
button{
    flex:1;
    padding:18px;
    background:#2f7dff;
